<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercury Tours Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd9bcd">  <td>19/12/14 11:05:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.appLaunch()[pri:0, instance:com.gradle1.test.LoginRegressionSuite@4c70fda8]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/12/14 11:05:43</td>   <td>41054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyValidLogin()[pri:0, instance:com.gradle1.test.LoginRegressionSuite@4c70fda8]">verifyValidLogin</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/12/14 11:06:20</td>   <td>78283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.appClose()[pri:0, instance:com.gradle1.test.LoginRegressionSuite@4c70fda8]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/12/14 11:06:23</td>   <td>80488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.appLaunch()[pri:0, instance:com.gradle1.test.LoginRegressionSuite@4c70fda8]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/12/14 11:06:33</td>   <td>90659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyInvalidLogin()[pri:1, instance:com.gradle1.test.LoginRegressionSuite@4c70fda8]">verifyInvalidLogin</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/12/14 11:06:40</td>   <td>97529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.appClose()[pri:0, instance:com.gradle1.test.LoginRegressionSuite@4c70fda8]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/12/14 11:06:41</td>   <td>98331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuite.appLaunch()[pri:0, instance:com.gradle1.test.FlightFinderRegressionSuite@5c3bd550]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/12/14 11:06:51</td>   <td>108677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuite.verifyDefaultSelectionFlightType()[pri:0, instance:com.gradle1.test.FlightFinderRegressionSuite@5c3bd550]">verifyDefaultSelectionFlightType</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/12/14 11:07:05</td>   <td>122601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuite.closeApp()[pri:0, instance:com.gradle1.test.FlightFinderRegressionSuite@5c3bd550]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/12/14 11:07:05</td>   <td>122691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuite.appLaunch()[pri:0, instance:com.gradle1.test.FlightFinderRegressionSuite@5c3bd550]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/12/14 11:07:16</td>   <td>133555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuite.verifyDepartingFromValueSelection()[pri:1, instance:com.gradle1.test.FlightFinderRegressionSuite@5c3bd550]">verifyDepartingFromValueSelection</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/12/14 11:07:37</td>   <td>155053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuite.closeApp()[pri:0, instance:com.gradle1.test.FlightFinderRegressionSuite@5c3bd550]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
</table>
